.heading
{
    width: 100%;
    font-size: 23px;
    box-shadow: 5px 5px 5px grey;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    width: 100%;
    bottom: 0;
    line-height: 3;
    text-align: center;
    background-color: grey;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}